<div id="type-details" class="col-md-9">
  <div id="type-details-header">
    <p>{{typesCtrl.currentType.name}}</p>
  </div>
  <div uib-datepicker ng-model="typeDetailsCtrl.date" datepicker-options="{datepickerMode: 'month', minMode: 'month'}"
              ng-change="typeDetailsCtrl.update(typeDetailsCtrl.date)"></div>
  <div id="type-details-intervals">
    <ul class="list-group">
      <li ng-repeat="d in typeDetailsCtrl.details" class="list-group-item">
        <div class="intervals-desc">
          <div class="intervals-desc-range">{{ d.from | formatDateTimeFilter }} - {{ d.to | formatDateTimeFilter }}</div>
          <div class="intervals-desc-type">{{ typeDetailsCtrl.getTypeName(d.typeId) }}</div>
          <div class="intervals-desc-comment">{{ d.comment }}</div>
        </div>
        <div class="intervals-duration">
          {{ d.from | formatDurationFilter:d.to }}
        </div>
      </li>
    </ul>
  </div>
</div>
